[submodule "git/profile-dotemacs"]
	path = git/profile-dotemacs
	url = https://github.com/abo-abo/profile-dotemacs
[submodule "git/org-fu"]
	path = git/org-fu
	url = https://github.com/abo-abo/org-fu
[submodule "git/cc-chainsaw"]
	path = git/cc-chainsaw
	url = https://github.com/abo-abo/cc-chainsaw
[submodule "git/magit"]
	path = git/magit
	url = https://github.com/abo-abo/magit
[submodule "git/lpy"]
	path = git/lpy
	url = https://github.com/abo-abo/lpy
